<!DOCTYPE html>
<html lang="en">
<head>
<!--    <base href = '/'>-->
    <title>JGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>   
    </style>   
</head>
    
<body>
    
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
              <div class="main-header ">
                <h1 style="font-size: 70px;">Company:<%=company%></h1>       
              </div>
        </div>
<!--        <a href="/masterList/" type = "button" class = "btn btn-warning btn-xs btn-block" style="background-color: blue;" >Company Master List</a>  -->
    </div>

</body>
</html>

