<!DOCTYPE html>
<html lang="en">
<head>
    <base href = '/'>
    <title>JGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>   
    </style>   
</head>
    
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar">potato</span>
            <span class="icon-bar">tomato</span>
            <span class="icon-bar">asdf</span>                        
          </button>
            <div>
                <span class="navbar-brand" href="#">COMPANY PIC HERE</span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><span class="navbar-brand" href="#">NAVIGATION STUFF</span></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li><span class="navbar-brand" href="#">USER TYPE</span></li>
            </ul>
        </div>
      </div>
    </nav>    
    
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
              <div class="main-header ">
                <div><h2>TEST</h2></div>
                <h1 style="font-size: 70px;">HOME PAGE STUFF</h1>
              </div>
        </div>
    </div>

</body>
</html>

